@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-block text-sm uppercase py-2 px-5 rounded-lg font-bold;
  }

  .btn-primary {
    @apply btn bg-slate-800 text-white;
    display: inline-block;
  }
  .btn-primary:hover {
    animation: pulsate 1s ease-in-out;
  }
  @keyframes pulsate {
    0% {
      box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
    }
  }

  .form-input {
    @apply block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
}
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: initial;
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #4896ef;
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
